<style>

  nav {
    background-color: #bdc63c;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 10px;
  }

  li a {
    color: #f6f3f3;
    text-decoration: none;
  }

  li a:hover {
    text-decoration: underline;
  }

  /* Alert */
  .alert {
    background-color: #ffe4e4;
    border: 1px solid #f4dfdf;
    border-radius: 4px;
    color: #bdc63c;
    margin: 10px auto;
    max-width: 600px;
    padding: 10px;
    text-align: center;
  }

  /* Chat */
  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 600px;
  }

  input[type="text"],
  input[type="password"],
  button {
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    width: 100%;
  }

  #send {
    background-color: #bdc63c;
    color: #f6efef;
    cursor: pointer;
  }

  #send:hover {
    background-color: #181818;
  }

  #github {
    background-color: #181818;
    color: #fcf4f4;
    cursor: pointer;
  }

  #github:hover { 
    background-color:#bdc63c;
  }
  
</style>

<div>


  {{#if message}}
    <div class="alert">{{message}}</div>
  {{/if}}


<div>
    <div class="chat-container">

    <input type="text" placeholder="Username" name="username" id="username" />

    <input type="password" placeholder="Password" name="password" id="password"/>
    
    <button id="send">Enviar</button>

    <a href="/api/sesions/githubcallback"><button id="github">Ingresar con Github</button></a>


</div>

</div>