<div style="display: flex; flex-direction: column; align-items: center;">
    <h1 style="margin-bottom: 20px;">Restablecer contrase単a</h1>
    <form action="/reset" method="post" style="display: flex; flex-direction: column; align-items: center;">
      <input type="hidden" name="token" value="{{token}}">
      <label for="password" style="margin-bottom: 10px;">Nueva contrase単a:</label>
      <input type="password" name="Newpassword" id="password" style="margin-bottom: 20px; padding: 5px;">
      <label for="repeatPassword" style="margin-bottom: 10px;">Confirmar contrase単a:</label>
      <input type="password" name="repeatNewPassword" id="repeatPassword" style="margin-bottom: 20px; padding: 5px;">
      <button id="restablecer"type="submit" style="padding: 10px; background-color:  #bdc63c; color: #f1eeee; border: none; border-radius: 5px; cursor: pointer;">Restablecer contrase単a</button>
    </form>
</div>
